<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiKey" value="YOUR CODE GOES HERE"/>
    <add key="apiSecret" value="YOUR CODE GOES HERE"/>
    <add key="accessToken" value="YOUR CODE GOES HERE"/>
    <add key="accessTokenSecret" value="YOUR CODE GOES HERE"/>
  </appSettings>
</configuration>
